*{
  box-sizing: border-box;
}
body{
  background-color: rgba(236, 236, 236, 0.395);
}

form {
  display: flex;
  flex-direction: column;
}
form > * {
  margin: 0.5rem;
}
form input, form button{
  padding: 5px;
}
.login-register{
  display: flex;
}
.login-form, .register-form{
  width: 18rem;
  margin: 0 auto;
}
.login-form button, .register-form button{
  border: 1.5px solid gray;
  border-radius: 3px;
}
.register-form button{
  background-color: rgba(182, 198, 227, 0.847);
}
.register-form button:hover{
  background-color: rgba(168, 186, 221, 0.904);
}
.login-form button{
  background-color: rgba(170, 230, 222, 0.9);
}
.login-form button:hover{
  background-color: rgba(139, 210, 201, 0.952); 
}

h1, h2, h3, h4{
  margin: 0;
}
p{
  margin: 0;
}
.login-btn{
  background-color: rgba(114, 211, 179, 0.925);
  height: fit-content;
  padding: 4px 10px;
  border: 1.5px solid gray;
  border-radius: 3px;
  margin:5px 0;
}
.signUp-link, .login-link{
  color:blue;
  cursor: pointer;
  margin-left: 10px;
}
.signUp-link:hover, .login-link:hover{
  color:rgb(194, 88, 27);
  text-decoration: underline;
}


.nav{
  background-color: rgb(218, 218, 218);
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 0 30px;
  font-weight: bold;
  color: navy;
}

.products{
  border: 1.5px solid rgba(190, 190, 190, 0.603);
  margin: 0;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
  font-weight: bold;
  border-radius: 5px;
}

.products li{
  flex: 0 0 calc(33%-15px);
  width: 280px;
  display: flex;
  gap: 15px;
  text-align: center;
}
.products h4{
  background-color: rgba(113, 173, 219, 0.516);
  border-radius: 5px 5px 0 0;
  padding: 3px;
}

 
