
.nav-btn {
    min-width: 0;
    font-size: clamp(0.75rem, 2vw, 1rem);
    border: none;
    outline: none;
    box-shadow: none;
    color: $second-color;
}


.act-btn {
    background-color: $primary-color;
    color: white;
    font-weight: 600;
    &:active {
        background-color: $primary-color;
    }
    &:hover {
        background-color: $tr-primary-color;
    }
}


.qty-control {
    background-color: rgb(200, 155, 249);
    border: none;
    max-width: 8rem;
    margin: 0 auto; 
    cursor: pointer;
    text-align: center;

    i {
         text-shadow: 0 0 1px rgb(101, 101, 101);        
    }
}

