// _navbar-menu.scss

.nav-menu {
    
    .nav-btn {
        padding-left: 0;
    }


    .accordion-body {
        
        li {
            background-color: $tr-second-color;
            padding: 0.2rem 1rem;
            margin-top: 0.2rem ;
             

            &:hover {
                background-color: $tr-primary-color;
                color: white;
            }
        }
        li > * {
            font-weight:500;
        }
        
    }


    .nav-link,
    .accordion-button {
    color: $second-color;
    font-size: large;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: background-color  0.2s, color  0.2s;
    box-shadow: none;

    &:hover {
        color: white;
        background-color: $primary-color;
    }
    }

    .accordion-button:not(.collapsed) {
    color: white;
    background-color: $primary-color;
    transition: background-color  0.2s, color  0.2s;
    }

    // Arrow color change
    .accordion-button::after {
    transition: filter  0.2s ease-in-out;
    }

    .accordion-button:hover::after,
    .accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(1); // white
    }

}

