// 

.nav-account {
    .dropdown-menu {
        padding: 0;
        background-color: white;

        .dropdown-item {
            background-color: rgba(237, 237, 237, 0.854);

            margin-top: 2px;

            &:hover {
                background-color: $tr-primary-color;
                color: white;
            }
        }
    }

}