// product-card.scss

.product-card {
    line-height: 1.45; 
    .product-img {
        width: 85px;
        height: 95px;
    }

    h5 {
        cursor: pointer;
        font-size: medium;
        &:hover {
            color: rgb(233, 123, 20);
        }
    }

    .product-price {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }

    .card-footer {
        padding: 0.2rem 0;
    }
 


    @media (min-width: 428px) {
       
    }


    @media (min-width: 576px) {
        .product-img {
            width: 110px;
            height: 120px;
        }
        h5 {
            font-size: larger;
        }
    }
    
    
    @media (min-width: 768px) {
        .product-img {
            width: 120px;
            height: 125px;
        }
    }

    @media (min-width: 992px) {
        h5 {
            font-size: 22px;
        }
        
       
    }


}